# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# Database
*.db
*.sqlite
*.sqlite3

# Environment variables
.env

# IDE
.vscode/
.idea/
.vs/

# Flask
instance/
.webassets-cache

# Logs
*.log

# OS
.DS_Store
Thumbs.db
